@import "base";
@import "classes";
@import "media-queries";
@import "reset";
@import "utils";
@import "variables";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: green;
  padding: 20px;
}

.content {
  grid-area: content;
  // background: red;
  padding: 20px;
}

footer {
  grid-area: footer;
  // background: #333;
  padding: 20px;
}
